html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #c6fcff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c6fcff, #dbdbdb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c6fcff, #dbdbdb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c6fcff, #dbdbdb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c6fcff, #dbdbdb); /* Standard syntax */

}

#navbar {
    height: 70px;
    width: 100%;
    font-size: 17px;
    background: linear-gradient(to right, #047c8b, #047c8b, #047c8b, #c6fcff);
    color: rgba(255,255,255,1);
    border-bottom: 0px;
    border-right: 0px;
}

#navbar .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-right: 45px;
}

#navbar .nav-item a {
    margin-left: 20px;
}
#navbar .navbar-nav {
    margin-left: 20px;
}

#navbar .navbar-brand, #navbar .nav-item a {
    vertical-align: top;
    color: rgba(255,255,255,1);
}

.front-page-image {
    height: 650px;
    width: 100%;
    border-radius: 20px;
}

.logo-image {
    height: 60px;
    width: 70px;
}

caption {
    display: table-caption;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}
.modalDialog {
    position: absolute;
    width: 400px;
    top: 180px;
    left: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5e5;
    background-color: white;
    box-Shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 20px;
}
.error {
    color: red;
}
