html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #dbdbdb;
}

.background-div {
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    /*background: linear-gradient(#c6fcff, #dbdbdb); !* Standard syntax *!*/
    background-color: red;
}

#navbar {
    height: 70px;
    width: 100%;
    font-size: 17px;
    background: linear-gradient(to right, #047c8b, #047c8b, #047c8b, #c6fcff);
    color: rgba(255, 255, 255, 1);
    border-bottom: 0px;
    border-right: 0px;
}

#navbar .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    margin-right: 45px;
}

#navbar .nav-item a {
    margin-left: 20px;
}
#navbar .navbar-nav {
    margin-left: 20px;
}

#navbar .navbar-brand,
#navbar .nav-item a {
    vertical-align: top;
    color: rgba(255, 255, 255, 1);
}

.google-login,
.login-btn {
    height: 46px;
    padding: 12px 18px;
    margin-right: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}
.login-btn {
    background-color: #00b1ff;
    color: white;
}
.submit-btn {
    height: 30px;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: #00b1ff;
    color: white;
}
.search-btn {
    margin-top: 15px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    background-color: #00b1ff;
    color: white;
}

.group-item {
    float: left;
    margin-right: 30px;
}

.expired-btn,
.expired-btn:hover {
    color: darkgrey;
}

.google-login {
    background-color: #ff1e00;
    color: white;
}

.transaction-table,
.transaction-table-user,
.transaction-table-title {
    background-color: #eaffff;
    color: #012fc7;
    border: 1.2px solid #fff;
}

.transaction-table-title {
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.transaction-table-user {
    color: #752424;
    font-size: 18px;
    font-weight: bold;
}

.nav-admin {
    display: inline-block;
    font-weight: bold;
}

.nav-admin-main {
    display: block;
    margin-top: 60px;
}

.nav-admin-tabs {
    width: 150px;
    float: left;
    background-color: #fcf2ff;
    border-radius: 10px;
}

.nav-admin-content {
    margin-left: 30px;
    width: 500px;
    float: left;
}

.admin-content-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.admin-content-task {
    margin-bottom: 15px;
    color: #012fc7;
    font-size: 15px;
}

.admin-content-no-content {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #012fc7;
    font-size: 15px;
}

.admin-table {
    background-color: #ddc1f0;
}
.admin-table-title {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 12px;
}

.front-page-image {
    height: 650px;
    width: 100%;
    border-radius: 20px;
}

.logo-image {
    height: 60px;
    width: 70px;
}

caption {
    display: table-caption;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}
.modalDialog {
    position: absolute;
    width: 400px;
    top: 180px;
    left: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid #e5e5e5;
    background-color: white;
    box-Shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.modalSearchDialog {
    position: relative;
    top: 180px;
}

.error {
    color: red;
}
